# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Macros 
[include klipper/e5p/macros.cfg]

#=================================================================
# X STEPPER
# ===================================================================
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 39.732
endstop_pin: ^PC0
position_endstop: 360
position_max: 360
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.680
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# Y STEPPER
#====================================================================
[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 39.732
endstop_pin: ^PC1
position_endstop: 360
position_max: 360
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# Z STEPPER
#====================================================================
[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 400

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# PRINTER LIMITS
#====================================================================
[printer]
kinematics: cartesian
max_velocity: 175
max_accel: 1500
max_accel_to_decel: 750
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0


#====================================================================
# EXTRUDER
#====================================================================
[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
rotation_distance: 23.873976
gear_ratio: 3:1
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.055
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 275
min_extrude_temp: 0
max_extrude_only_distance: 500

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.500
hold_current: 0.500
stealthchop_threshold: 999999

#====================================================================
# BLTOUCH
#====================================================================
[bltouch]
sensor_pin: ^PC2
control_pin: PA1
pin_move_time: 0.675
stow_on_each_sample: True
probe_with_touch_mode: True
pin_up_touch_mode_reports_triggered: False
x_offset: -27.5
y_offset: -2.5
#z_offset: 2.320
speed: 10
lift_speed: 20
samples: 2
sample_retract_dist:5
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 207.5, 182.5
speed: 150
z_hop: 10
z_hop_speed: 20

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 40,40
mesh_max: 320,320
probe_count: 4
mesh_pps: 2,2
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

#====================================================================
# MANUAL ADJUST BED SCREWS
#====================================================================
[bed_screws]
screw1: 30,45
screw2: 30,315
screw3: 335,315
screw4: 335,45

#====================================================================
# HEATED BED
#====================================================================
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FAN PINS
#====================================================================
[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

#====================================================================
# SERIAL KEY
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDA054252303707701857-if00

#====================================================================
# USB CONNECTION
#====================================================================
[static_digital_output usb_pullup_enable]
pins: !PA14

#====================================================================
# TFT PINS
#====================================================================
[board_pins]
aliases:
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>,
    
#====================================================================
# DISPLAY SETUP
#====================================================================
[display]
lcd_type: emulated_st7920
en_pin: EXP1_7
spi_software_sclk_pin: EXP1_6
spi_software_mosi_pin: EXP1_8
spi_software_miso_pin: PA3
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

    

#====================================================================

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.041250, -0.064375, -0.035625, -0.026250, 0.016250
#*# 	-0.070000, -0.054375, -0.023125, -0.020625, 0.014375
#*# 	-0.065625, -0.029375, -0.004375, -0.000625, 0.033125
#*# 	-0.041250, -0.009375, 0.029375, 0.021875, 0.050000
#*# 	-0.024375, -0.002500, 0.019375, 0.006250, 0.046250
#*# tension = 0.2
#*# min_x = 45.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 5
#*# max_y = 315.0
#*# mesh_x_pps = 2
#*# max_x = 315.0
#*#
#*# [bltouch]
#*# z_offset = 2.320
