# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Macros 
[include bltouch.cfg]
[include macros.cfg]
[include mainsail.cfg]
[include menu.cfg]
[include menu_octoprint.cfg]
[include menu_preheat.cfg]
#[include shell_command.cfg] uncomment for dslr timelapse
[include stepper_motors.cfg]
#[include timelapse_macros.cfg] #uncomment for dslr timelapse
######################################################################
# PRINTER CONFIGURATION SECTION
######################################################################

#=====================================================
# PRINTER LIMITS
#=====================================================
[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 4000
#max_accel_to_decel: 1000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0

#=====================================================
# RESONANCE COMPENSATION
#=====================================================
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    180, 180, 100 # an example
    
#=====================================================
# MCU ID
#=====================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFDA054252303707701857-if00

#=====================================================
# MCU OUTPUT
#=====================================================
[static_digital_output usb_pullup_enable]
pins: !PA14

#=====================================================
# DISPLAY BOARD PINS
#=====================================================
[board_pins]
aliases:
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>,

#=====================================================
# DISPLAY SETUP
#=====================================================
[display]
lcd_type: emulated_st7920
en_pin: EXP1_7
spi_software_sclk_pin: EXP1_6
spi_software_mosi_pin: EXP1_8
spi_software_miso_pin: PA3
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

#=====================================================
# INPUT SHAPER
#=====================================================
[input_shaper]
shaper_freq_x: 106.5
shaper_type_x: mzv
shaper_freq_y: 81.5
shaper_type_y: 3hump_ei

#=====================================================
# RESPOND
#=====================================================
# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

#=====================================================
# VIRTUAL SD CARD
#=====================================================
# add virtual sd card
[virtual_sdcard]
path: ~/gcode_files

#=====================================================
# EXTRUDER
#=====================================================
[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 5.7
nozzle_diameter: 0.400
max_extrude_cross_section: 5
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
min_temp: 0
max_temp: 300
min_extrude_temp: 180
max_extrude_only_distance: 500
#pressure_advance: 0.045 #pla
#pressure_advance: 0.065 #petg
pressure_advance: 0.025 #abs
#pressure_advance: 0.200 #tpu95a
pressure_advance_smooth_time: 0.04
#control: pid
#pid_Kp=21.615
#pid_Ki=1.144
#pid_Kd=102.130

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
interpolate: False
run_current: 0.460
stealthchop_threshold: 0
sense_resistor: 0.11
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 3

#=====================================================
# BED HEATER
#=====================================================
[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
#control: pid
#pid_Kp=73.230
#pid_Ki=1.275
#pid_Kd=1051.763
min_temp: 0
max_temp: 130

#=====================================================
# PARTS FAN
#=====================================================
[heater_fan nozzle_cooling_fan]
pin: PC7

#=====================================================
# HOTEND FAN
#=====================================================
[fan]
pin: PC6

#=====================================================
# GCODE ARCS
#=====================================================
[gcode_arcs]
resolution: 0.2
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#=====================================================
# SKEW CORRECTION
#=====================================================
[skew_correction]

#=====================================================
# IDLE TIMEOUT
#=====================================================
[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      M117 Idle timeout reached
      TURN_OFF_HEATERS
      M84
    {% endif %}
  {% endif %}
# 2 hour timeout
timeout: 7200

#=====================================================
# RASPI TEMP
#=====================================================
[temperature_sensor raspberry_pi]
sensor_type: temperature_host

[temperature_sensor SKR_Mini_E3_v2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#=====================================================
# FIRMWARE RETRACTION
#=====================================================
[firmware_retraction]
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_length: 4
#   The speed of retraction, in mm/s. The default is 20 mm/s.
retract_speed: 30
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_extra_length: 0
#   The speed of unretraction, in mm/s. The default is 10 mm/s.
unretract_speed: 25

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 3.125
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.679
#*# pid_ki = 1.385
#*# pid_kd = 927.346
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.113
#*# pid_ki = 1.374
#*# pid_kd = 105.795
#*#
#*# [skew_correction my_skew_profile]
#*# xy_skew = -0.000352921602757
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.041250, 0.042500, 0.066250, 0.055000, -0.036250
#*# 	  -0.058750, 0.015000, 0.018750, 0.048750, 0.036250
#*# 	  -0.098750, -0.015000, 0.021250, 0.053750, 0.056250
#*# 	  -0.031250, 0.011250, 0.010000, 0.050000, 0.043750
#*# 	  -0.013750, 0.030000, 0.018750, 0.023750, -0.023750
#*# tension = 0.2
#*# min_x = 35.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 5
#*# max_y = 330.0
#*# mesh_x_pps = 2
#*# max_x = 325.0
