#=====================================================
# STEPPER X
#=====================================================
[stepper_x]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PC1
position_endstop: 360
position_max: 360
homing_speed: 75
#homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.680
hold_current: 0.500
stealthchop_threshold: 999999

#=====================================================
# STEPPER Y
#=====================================================
[stepper_y]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC3
position_endstop: 360
position_max: 360
position_min: 0
homing_speed: 75
#homing_retract_dist: 5.0

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.700
hold_current: 0.500
stealthchop_threshold: 999999

#=====================================================
# STEPPER Z
#=====================================================
[stepper_z]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PE0
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 410

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.400
hold_current: 0.500
stealthchop_threshold: 999999

#=====================================================
# STEPPER Z1
#=====================================================
[stepper_z1]
step_pin: PD11
dir_pin: !PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.400
hold_current: 0.500
stealthchop_threshold: 999999
