# Adds print macros such as start print and end print.
# in cura, as start gcode you can define "START_PRINT" and end gcode "END_PRINT"


#====================================================================
# START PRINT | END PRINT | PRIME LINE
#====================================================================

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
variable_parameter_T_BED: 50
variable_parameter_T_EXTRUDER: 205
gcode:
    M117 Homing
    # Use absolute coordinates
    G92

    M117 Waiting for temperature
    # Start bed heating and continue
    M140 S{T_BED}
    {% if printer.heater_bed.temperature > params.T_BED|float*0.85 %}
        M140 S{T_BED}
        M109 S{T_EXTRUDER} 
        M190 S{T_BED}
    {% else %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue
        M140 S{T_BED} 
        M109 S{T_EXTRUDER}
        M190 S{T_BED}
    {% endif %}

    #BUILD MESH
    G28 ; Home all axes
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default
    
    # Prime line
    PRIME_LINE
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    G91 ;Relative positioning

    G1 E-2 F2700 ;Retract a bit
    G1 E-15 Z0.2 F2400 ;Retract and raise Z
    G1 X5 Y5 F3000 ;Wipe out
    G1 Z10 ;Raise Z more

    G90 ;Absolute positionning
    G1 X0 Y220 ;Present print

    M106 S0 ;Turn-off fan
    M104 S0 ;Turn-off hotend
    M140 S0 ;Turn-off bed

    M84 X Y E ;Disable all steppers but Z
    BED_MESH_CLEAR

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    M117 Prime Line
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X1.1 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X1.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X1.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X1.4 Y50 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
 
# [homing_override]
# gcode:
#     G90 ; Use absolute position mode
#     G1 Z10 ; Move up 10mm
#     G28 X Y
#     G1 X117 Y150 F6000 ; Change the X and Y coordinates to the center of your print bed
#     G28 Z
# set_position_z: 0.0

#====================================================================
# PAUSE
#====================================================================
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 2    #edit to your park position
default_parameter_Y: 220    #edit to your park position
default_parameter_Z: 10     #edit to your park position
default_parameter_E: 1      #edit to your retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000

#====================================================================
# RESUME
#====================================================================

[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      #edit to your retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

#====================================================================
# CANCEL
#====================================================================

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

#====================================================================
# BUILD BED MESH
#====================================================================
# G29 that does (1) home all (2) get bed mesh (3) move nozzle to corner so it doesnt ooze on the bed while heating up.
[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=default

#====================================================================
# PARK NOZZLE
#====================================================================
# Park toolhead
[gcode_macro M125]
gcode:
    SAVE_GCODE_STATE NAME=parking
    M117 Parking toolhead
    G91
    G1 Z10 F600 # move up 5 mm
    G90
    G1 X2 Y220 F4000 # move to park position
    RESTORE_GCODE_STATE NAME=parking

#====================================================================
# LOW TEMP CHECK
#====================================================================
# LOW_TEMP_CHECK checks if there is a setpoint for the  extruder. Untested! 
# - If this setpoint is reached, continue. 
# - If not, heat to setpoint.
# - If no setpoint, heat to parameter T (default@200)
[gcode_macro LOW_TEMP_CHECK|T]
default_parameter_T: 230
gcode: 
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}
    
#====================================================================
# LOAD FILAMENT
#====================================================================
[gcode_macro M701]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    M117 Loading Filament
    M83
    G92 E0.0
    LOW_TEMP_CHECK
    G1 E300 F5000  # length of bowden tube till cold-end (~420mm) 
    G1 E100 F200  # some extra to prime the nozzle --> slower 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=loading_filament
    
#====================================================================
# UNLOAD FILAMENT
#====================================================================
[gcode_macro M702]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    M125 # park
    M117 Unloading Filament 
    LOW_TEMP_CHECK
    G91 # set relative
    G1 E10 F100 
    G92 E0.0
    G1 E-350 F5000 # the E is the length of the bowden tube (420mm) + 100 mm. 
    G92 E0.0
    RESTORE_GCODE_STATE NAME=unloading_filament

#====================================================================
# FILAMENT CHANGE
#====================================================================
[gcode_macro M600]
gcode:
    M117 Filament Change
    M118 Filament Change
    SAVE_GCODE_STATE NAME=filament_change
    PAUSE
    LOW_TEMP_CHECK
    G91 # relative
    G1 E-1 F300 # retract 1
    M125 # park
    G1 E-350 F4000
    RESTORE_GCODE_STATE NAME=filament_change

#====================================================================
# COUNTDOWN
#====================================================================
[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    # countdown 
    {% for s in range(TIME|int, 0, -1) %}
        # dwell 1 second
        G4 P1000
        # echo
        M117 {params.MSG} {s}s
        M118 {params.MSG} {s}s
    {% endfor %}



